# Environment files
.env
*.env
**/.env

# Build & compiled output
target/
dist/
build/
bin/

# Dependency directories
node_modules/
**/node_modules/

# Log files
*.log

# IDE & project files
.classpath
.project
.settings/
.idea/
*.iml
.vscode/
.DS_Store
